/* font face configs */

:root {
    /* change your prefered font here */
    --title-font: "Inter Display", "Inter";
    --text-font: "Inter";
    /* the Inter fontface family provides rich opentype features. see https://rsms.me/inter/  */
    --general-font-feature-settings: "calt", "ccmp", "kern", "salt" 0;
    --cjk-font: "Source Han Sans SC", "思源黑体 CN", "思源黑体";
    --mono-font: "JetBrains Mono";
    --fallback-font: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* general color configs */

:root {
    --color-scale-black: #1b1f23;
    --color-scale-white: #fff;
    --color-scale-gray-0: #fafbfc;
    --color-scale-gray-1: #f6f8fa;
    --color-scale-gray-2: #e1e4e8;
    --color-scale-gray-3: #d1d5da;
    --color-scale-gray-4: #959da5;
    --color-scale-gray-5: #6a737d;
    --color-scale-gray-6: #586069;
    --color-scale-gray-7: #444d56;
    --color-scale-gray-8: #2f363d;
    --color-scale-gray-9: #24292e;
    --color-scale-blue-0: #f1f8ff;
    --color-scale-blue-1: #dbedff;
    --color-scale-blue-2: #c8e1ff;
    --color-scale-blue-3: #79b8ff;
    --color-scale-blue-4: #2188ff;
    --color-scale-blue-5: #0366d6;
    --color-scale-blue-6: #005cc5;
    --color-scale-blue-7: #044289;
    --color-scale-blue-8: #032f62;
    --color-scale-blue-9: #05264c;
    --mark-bg: #ffde67;
    --mark-text: #080a10;
    --color-cm-keyword: #3b78e7;
    --color-cm-attr: #9c27b0;
    --color-cm-comment: #6a737d;
    --color-cm-string: #0d904f;
    --color-cm-operator: #d81b60;
    --color-cm-number: #d81b60;
    --color-cm-meta: #6933b1;
    --color-cm-builtin: #e36209;
    --color-cm-v3: #43a8b3;
    --color-cm-v: #c53929;
    --color-cm-link: #24a3c3;
    --text-link: #486df1;
    --bookmark-color: #311b92;
    --bookmark-bg: #ae92e3;
    --star-color: #044289;
    --star-bg: var(--color-scale-blue-2);
    --question-color: #880e4f;
    --question-bg: #f8bbd0;
    --alert-color: #8a2a0d;
    --alert-bg: #e69d94;
    --note-color: #004d40;
    --note-bg: #8be3d6;
    --lightbulb-color: #b0791b;
    --lightbulb-bg: #fff9c4;
}

:root {
    --control-text-color: var(--color-text-secondary);
    --bg-color: #ffffff;
    /*change background*/
    --text-color: var(--color-text-primary);
    /*change text color*/
    --md-char-color: #b3bdd1;
    --meta-content-color: #398ea3;
    /*change color of meta contents like image text or link address in markdown */
    --primary-color: #486df1;
    --accent-color: #486df1;
    /* color of primary buttons */
    --primary-btn-border-color: var(--color-border-primary);
    --primary-btn-text-color: #fff;
    --window-border: 1px solid var(--color-bg-tertiary);
    /*border for sidebar, etc*/
    --active-file-bg-color: var(--color-auto-blue-1);
    /*background color if list item in file tree or file list*/
    --active-file-text-color: inherit;
    --active-file-border-color: var(--color-auto-blue-6);
    --side-bar-bg-color: #f9fafb;
    /*change background of sidebar*/
    --item-hover-bg-color: rgba(229, 229, 229, 0.59);
    /*background of control items when hover, like menu in sidebar*/
    --item-hover-text-color: inherit;
    /*mono font for codes, fences*/
    --checkbox-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M18%203C19.6569%203%2021%204.34315%2021%206V18C21%2019.6569%2019.6569%2021%2018%2021H6C4.34315%2021%203%2019.6569%203%2018V6C3%204.34315%204.34315%203%206%203H18ZM16.4697%207.96967L10%2014.4393L7.53033%2011.9697C7.23744%2011.6768%206.76256%2011.6768%206.46967%2011.9697C6.17678%2012.2626%206.17678%2012.7374%206.46967%2013.0303L9.46967%2016.0303C9.76256%2016.3232%2010.2374%2016.3232%2010.5303%2016.0303L17.5303%209.03033C17.8232%208.73744%2017.8232%208.26256%2017.5303%207.96967C17.2374%207.67678%2016.7626%207.67678%2016.4697%207.96967Z%22%20fill%3D%22%23486df1%22/%3E%0A%3C/svg%3E%0A");
    --dots: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M10%206C9.30964%206%208.75%205.44036%208.75%204.75C8.75%204.05964%209.30964%203.5%2010%203.5C10.6904%203.5%2011.25%204.05964%2011.25%204.75C11.25%205.44036%2010.6904%206%2010%206Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M10%2011.25C9.30964%2011.25%208.75%2010.6904%208.75%2010C8.75%209.30964%209.30964%208.75%2010%208.75C10.6904%208.75%2011.25%209.30964%2011.25%2010C11.25%2010.6904%2010.6904%2011.25%2010%2011.25Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M8.75%2015.25C8.75%2015.9404%209.30964%2016.5%2010%2016.5C10.6904%2016.5%2011.25%2015.9404%2011.25%2015.25C11.25%2014.5596%2010.6904%2014%2010%2014C9.30964%2014%208.75%2014.5596%208.75%2015.25Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --cells: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7.5%2011C8.32843%2011%209%2011.6716%209%2012.5V16.5C9%2017.3284%208.32843%2018%207.5%2018H3.5C2.67157%2018%202%2017.3284%202%2016.5V12.5C2%2011.6716%202.67157%2011%203.5%2011H7.5ZM16.5%2011C17.3284%2011%2018%2011.6716%2018%2012.5V16.5C18%2017.3284%2017.3284%2018%2016.5%2018H12.5C11.6716%2018%2011%2017.3284%2011%2016.5V12.5C11%2011.6716%2011.6716%2011%2012.5%2011H16.5ZM7.5%2012H3.5C3.22386%2012%203%2012.2239%203%2012.5V16.5C3%2016.7761%203.22386%2017%203.5%2017H7.5C7.77614%2017%208%2016.7761%208%2016.5V12.5C8%2012.2239%207.77614%2012%207.5%2012ZM16.5%2012H12.5C12.2239%2012%2012%2012.2239%2012%2012.5V16.5C12%2016.7761%2012.2239%2017%2012.5%2017H16.5C16.7761%2017%2017%2016.7761%2017%2016.5V12.5C17%2012.2239%2016.7761%2012%2016.5%2012ZM7.5%202C8.32843%202%209%202.67157%209%203.5V7.5C9%208.32843%208.32843%209%207.5%209H3.5C2.67157%209%202%208.32843%202%207.5V3.5C2%202.67157%202.67157%202%203.5%202H7.5ZM16.5%202C17.3284%202%2018%202.67157%2018%203.5V7.5C18%208.32843%2017.3284%209%2016.5%209H12.5C11.6716%209%2011%208.32843%2011%207.5V3.5C11%202.67157%2011.6716%202%2012.5%202H16.5ZM7.5%203H3.5C3.22386%203%203%203.22386%203%203.5V7.5C3%207.77614%203.22386%208%203.5%208H7.5C7.77614%208%208%207.77614%208%207.5V3.5C8%203.22386%207.77614%203%207.5%203ZM16.5%203H12.5C12.2239%203%2012%203.22386%2012%203.5V7.5C12%207.77614%2012.2239%208%2012.5%208H16.5C16.7761%208%2017%207.77614%2017%207.5V3.5C17%203.22386%2016.7761%203%2016.5%203Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --add: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9.5%2016.5C9.5%2016.7761%209.72386%2017%2010%2017C10.2761%2017%2010.5%2016.7761%2010.5%2016.5V10.5H16.5C16.7761%2010.5%2017%2010.2761%2017%2010C17%209.72386%2016.7761%209.5%2016.5%209.5H10.5V3.5C10.5%203.22386%2010.2761%203%2010%203C9.72386%203%209.5%203.22386%209.5%203.5V9.5H3.5C3.22386%209.5%203%209.72386%203%2010C3%2010.2761%203.22386%2010.5%203.5%2010.5H9.5V16.5Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --chevron-right: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M4.46967%202.21967C4.17678%202.51256%204.17678%202.98744%204.46967%203.28033L7.18934%206L4.46967%208.71967C4.17678%209.01256%204.17678%209.48744%204.46967%209.78033C4.76256%2010.0732%205.23744%2010.0732%205.53033%209.78033L8.78033%206.53033C9.07322%206.23744%209.07322%205.76256%208.78033%205.46967L5.53033%202.21967C5.23744%201.92678%204.76256%201.92678%204.46967%202.21967Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --chevron-down: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M2.21967%204.46967C2.51256%204.17678%202.98744%204.17678%203.28033%204.46967L6%207.18934L8.71967%204.46967C9.01256%204.17678%209.48744%204.17678%209.78033%204.46967C10.0732%204.76256%2010.0732%205.23744%209.78033%205.53033L6.53033%208.78033C6.23744%209.07322%205.76256%209.07322%205.46967%208.78033L2.21967%205.53033C1.92678%205.23744%201.92678%204.76256%202.21967%204.46967Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --document: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7.5%207C7.22386%207%207%207.22386%207%207.5C7%207.77614%207.22386%208%207.5%208H12.5C12.7761%208%2013%207.77614%2013%207.5C13%207.22386%2012.7761%207%2012.5%207H7.5Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M7%2010.5C7%2010.2239%207.22386%2010%207.5%2010H12.5C12.7761%2010%2013%2010.2239%2013%2010.5C13%2010.7761%2012.7761%2011%2012.5%2011H7.5C7.22386%2011%207%2010.7761%207%2010.5Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M7.5%2013C7.22386%2013%207%2013.2239%207%2013.5C7%2013.7761%207.22386%2014%207.5%2014H9.5C9.77614%2014%2010%2013.7761%2010%2013.5C10%2013.2239%209.77614%2013%209.5%2013H7.5Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M6.5%202C6.22386%202%206%202.22386%206%202.5V3H5.5C4.67157%203%204%203.67157%204%204.5V16.5C4%2017.3284%204.67157%2018%205.5%2018H11.5C11.6326%2018%2011.7598%2017.9473%2011.8536%2017.8536L15.8536%2013.8536C15.9473%2013.7598%2016%2013.6326%2016%2013.5V4.5C16%203.67157%2015.3284%203%2014.5%203H14V2.5C14%202.22386%2013.7761%202%2013.5%202C13.2239%202%2013%202.22386%2013%202.5V3H10.5V2.5C10.5%202.22386%2010.2761%202%2010%202C9.72386%202%209.5%202.22386%209.5%202.5V3H7V2.5C7%202.22386%206.77614%202%206.5%202ZM14.5%204C14.7761%204%2015%204.22386%2015%204.5V13H12.5C11.6716%2013%2011%2013.6716%2011%2014.5V17H5.5C5.22386%2017%205%2016.7761%205%2016.5V4.5C5%204.22386%205.22386%204%205.5%204H14.5ZM14.2929%2014L12%2016.2929V14.5C12%2014.2239%2012.2239%2014%2012.5%2014H14.2929Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --folder: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7.16667%203C7.43713%203%207.70151%203.0731%207.93238%203.21016L8.06667%203.3L9.667%204.5H15.5C16.7703%204.5%2017.8192%205.44737%2017.9789%206.67409L17.9947%206.83562L18%207V14.5C18%2015.8255%2016.9685%2016.91%2015.6644%2016.9947L15.5%2017H4.5C3.17452%2017%202.08996%2015.9685%202.00532%2014.6644L2%2014.5V5.5C2%204.17452%203.03154%203.08996%204.33562%203.00532L4.5%203H7.16667ZM8.15763%207.03449C7.90991%207.2946%207.57838%207.45592%207.22435%207.49219L7.07143%207.5L3%207.499V14.5C3%2015.2797%203.59489%2015.9204%204.35554%2015.9931L4.5%2016H15.5C16.2797%2016%2016.9204%2015.4051%2016.9931%2014.6445L17%2014.5V7C17%206.2203%2016.4051%205.57955%2015.6445%205.50687L15.5%205.5H9.617L8.15763%207.03449ZM7.16667%204H4.5C3.7203%204%203.07955%204.59489%203.00687%205.35554L3%205.5V6.499L7.07143%206.5C7.1809%206.5%207.28655%206.46411%207.37274%206.39902L7.4335%206.34483L8.694%205.021L7.46667%204.1C7.40176%204.05132%207.32632%204.01941%207.24701%204.0065L7.16667%204Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --navigation: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M3%206.5C3.55228%206.5%204%206.05228%204%205.5C4%204.94772%203.55228%204.5%203%204.5C2.44772%204.5%202%204.94772%202%205.5C2%206.05228%202.44772%206.5%203%206.5ZM6%205.5C6%205.22386%206.22386%205%206.5%205H17.5C17.7761%205%2018%205.22386%2018%205.5C18%205.77614%2017.7761%206%2017.5%206H6.5C6.22386%206%206%205.77614%206%205.5ZM6%209.5C6%209.22386%206.22386%209%206.5%209H17.5C17.7761%209%2018%209.22386%2018%209.5C18%209.77614%2017.7761%2010%2017.5%2010H6.5C6.22386%2010%206%209.77614%206%209.5ZM6.5%2013C6.22386%2013%206%2013.2239%206%2013.5C6%2013.7761%206.22386%2014%206.5%2014H17.5C17.7761%2014%2018%2013.7761%2018%2013.5C18%2013.2239%2017.7761%2013%2017.5%2013H6.5ZM4%2013.5C4%2014.0523%203.55228%2014.5%203%2014.5C2.44772%2014.5%202%2014.0523%202%2013.5C2%2012.9477%202.44772%2012.5%203%2012.5C3.55228%2012.5%204%2012.9477%204%2013.5ZM3%2010.5C3.55228%2010.5%204%2010.0523%204%209.5C4%208.94772%203.55228%208.5%203%208.5C2.44772%208.5%202%208.94772%202%209.5C2%2010.0523%202.44772%2010.5%203%2010.5Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --tree: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9%205C9%203.34315%207.65685%202%206%202C4.34315%202%203%203.34315%203%205C3%206.4865%204.08114%207.72048%205.5%207.95852V12.0415C4.08114%2012.2795%203%2013.5135%203%2015C3%2016.6569%204.34315%2018%206%2018C7.65685%2018%209%2016.6569%209%2015C9%2013.5135%207.91886%2012.2795%206.5%2012.0415V11H12C13.3807%2011%2014.5%209.88071%2014.5%208.5V7.95852C15.9189%207.72048%2017%206.4865%2017%205C17%203.34315%2015.6569%202%2014%202C12.3431%202%2011%203.34315%2011%205C11%206.4865%2012.0811%207.72048%2013.5%207.95852V8.5C13.5%209.32843%2012.8284%2010%2012%2010H6.5V7.95852C7.91886%207.72048%209%206.4865%209%205ZM6%207C4.89543%207%204%206.10457%204%205C4%203.89543%204.89543%203%206%203C7.10457%203%208%203.89543%208%205C8%206.10457%207.10457%207%206%207ZM6%2017C4.89543%2017%204%2016.1046%204%2015C4%2013.8954%204.89543%2013%206%2013C7.10457%2013%208%2013.8954%208%2015C8%2016.1046%207.10457%2017%206%2017ZM16%205C16%206.10457%2015.1046%207%2014%207C12.8954%207%2012%206.10457%2012%205C12%203.89543%2012.8954%203%2014%203C15.1046%203%2016%203.89543%2016%205Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --search: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M8.5%203C11.5376%203%2014%205.46243%2014%208.5C14%209.83879%2013.5217%2011.0659%2012.7266%2012.0196L16.8536%2016.1464C17.0488%2016.3417%2017.0488%2016.6583%2016.8536%2016.8536C16.68%2017.0271%2016.4106%2017.0464%2016.2157%2016.9114L16.1464%2016.8536L12.0196%2012.7266C11.0659%2013.5217%209.83879%2014%208.5%2014C5.46243%2014%203%2011.5376%203%208.5C3%205.46243%205.46243%203%208.5%203ZM8.5%204C6.01472%204%204%206.01472%204%208.5C4%2010.9853%206.01472%2013%208.5%2013C10.9853%2013%2013%2010.9853%2013%208.5C13%206.01472%2010.9853%204%208.5%204Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --checkbox-checked: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M18.25%203C19.7688%203%2021%204.23122%2021%205.75V18.25C21%2019.7688%2019.7688%2021%2018.25%2021H5.75C4.23122%2021%203%2019.7688%203%2018.25V5.75C3%204.23122%204.23122%203%205.75%203H18.25ZM18.25%204.5H5.75C5.05964%204.5%204.5%205.05964%204.5%205.75V18.25C4.5%2018.9404%205.05964%2019.5%205.75%2019.5H18.25C18.9404%2019.5%2019.5%2018.9404%2019.5%2018.25V5.75C19.5%205.05964%2018.9404%204.5%2018.25%204.5ZM10%2014.4393L16.4697%207.96967C16.7626%207.67678%2017.2374%207.67678%2017.5303%207.96967C17.7966%208.23594%2017.8208%208.6526%2017.6029%208.94621L17.5303%209.03033L10.5303%2016.0303C10.2641%2016.2966%209.8474%2016.3208%209.55379%2016.1029L9.46967%2016.0303L6.46967%2013.0303C6.17678%2012.7374%206.17678%2012.2626%206.46967%2011.9697C6.73594%2011.7034%207.1526%2011.6792%207.44621%2011.8971L7.53033%2011.9697L10%2014.4393L16.4697%207.96967L10%2014.4393Z%22%20fill%3D%22%23000%22/%3E%0A%3C/svg%3E%0A");
    --checkbox-unchecked: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M5.75%203H18.25C19.7688%203%2021%204.23122%2021%205.75V18.25C21%2019.7688%2019.7688%2021%2018.25%2021H5.75C4.23122%2021%203%2019.7688%203%2018.25V5.75C3%204.23122%204.23122%203%205.75%203ZM5.75%204.5C5.05964%204.5%204.5%205.05964%204.5%205.75V18.25C4.5%2018.9404%205.05964%2019.5%205.75%2019.5H18.25C18.9404%2019.5%2019.5%2018.9404%2019.5%2018.25V5.75C19.5%205.05964%2018.9404%204.5%2018.25%204.5H5.75Z%22%20fill%3D%22%23000%22/%3E%0A%3C/svg%3E%0A");
    --case: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M13.4911%203.50005C13.7013%203.50299%2013.8873%203.63714%2013.9563%203.83574L17.6085%2014.3357C17.6992%2014.5966%2017.5613%2014.8815%2017.3005%2014.9722C17.0397%2015.063%2016.7547%2014.9251%2016.664%2014.6643L15.7373%2012L10.9833%2012L9.96737%2014.6774C9.8694%2014.9356%209.58069%2015.0654%209.32251%2014.9675C9.06433%2014.8695%208.93445%2014.5808%209.03241%2014.3226L10.2727%2011.0539V11H10.2932L13.0166%203.82262C13.0912%203.62603%2013.2808%203.49711%2013.4911%203.50005ZM13.4636%205.46323L11.3627%2011L15.3895%2011L13.4636%205.46323Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M5.6667%208.70091L5.85817%208.70749C7.16522%208.77248%207.94311%209.52482%207.997%2010.737L8%2010.8735V14.5402C8%2014.7933%207.8119%2015.0025%207.56785%2015.0356L7.5%2015.0402C7.24687%2015.0402%207.03767%2014.8521%207.00456%2014.6081L7%2014.5402L6.9991%2014.4706C6.34072%2014.8475%205.7317%2015.0402%205.16667%2015.0402C3.94105%2015.0402%203%2014.1772%203%2012.8735C3%2011.724%203.79229%2010.8699%205.10646%2010.7105C5.728%2010.6351%206.35968%2010.6823%206.99902%2010.8503C6.99247%2010.1122%206.62837%209.74702%205.8085%209.70625C5.16701%209.67435%204.7162%209.76443%204.45216%209.94958C4.22607%2010.1081%203.91426%2010.0534%203.75572%209.82728C3.59717%209.60118%203.65193%209.28937%203.87802%209.13083C4.31656%208.8233%204.91381%208.68705%205.6667%208.70091ZM6.99933%2011.916L6.79742%2011.8558C6.25917%2011.7078%205.73655%2011.6657%205.22687%2011.7275C4.40527%2011.8271%204%2012.264%204%2012.8978C4%2013.6289%204.47493%2014.0644%205.16667%2014.0644C5.62021%2014.0644%206.17899%2013.8549%206.83419%2013.422L6.99933%2013.3094V11.916Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --arrowleft: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9.16289%2016.8692C9.36683%2017.0555%209.68308%2017.0411%209.86926%2016.8371C10.0554%2016.6331%2010.041%2016.3168%209.83711%2016.1306L3.66925%2010.4988L17.5%2010.4988C17.7761%2010.4988%2018%2010.2749%2018%209.99868C18%209.72249%2017.7761%209.49859%2017.5%209.49859L3.67214%209.49859L9.83711%203.86943C10.041%203.68322%2010.0554%203.3669%209.86926%203.16293C9.68308%202.95895%209.36683%202.94455%209.16289%203.13076L2.24654%209.446C2.10659%209.57378%202.02676%209.74135%202.00705%209.91453C2.00241%209.94189%202%209.97%202%209.99868C2%2010.0256%202.00212%2010.0519%202.0062%2010.0777C2.02437%2010.2536%202.10449%2010.4243%202.24654%2010.554L9.16289%2016.8692Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --match: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9.5%2012.75C9.5%2013.1642%209.16421%2013.5%208.75%2013.5C8.33579%2013.5%208%2013.1642%208%2012.75C8%2012.3358%208.33579%2012%208.75%2012C9.16421%2012%209.5%2012.3358%209.5%2012.75Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M11.75%2012.75C11.75%2013.1642%2011.4142%2013.5%2011%2013.5C10.5858%2013.5%2010.25%2013.1642%2010.25%2012.75C10.25%2012.3358%2010.5858%2012%2011%2012C11.4142%2012%2011.75%2012.3358%2011.75%2012.75Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M14%2012.75C14%2013.1642%2013.6642%2013.5%2013.25%2013.5C12.8358%2013.5%2012.5%2013.1642%2012.5%2012.75C12.5%2012.3358%2012.8358%2012%2013.25%2012C13.6642%2012%2014%2012.3358%2014%2012.75Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M16.25%2012.75C16.25%2013.1642%2015.9142%2013.5%2015.5%2013.5C15.0858%2013.5%2014.75%2013.1642%2014.75%2012.75C14.75%2012.3358%2015.0858%2012%2015.5%2012C15.9142%2012%2016.25%2012.3358%2016.25%2012.75Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M8.75%208C9.16421%208%209.5%207.66421%209.5%207.25C9.5%206.83579%209.16421%206.5%208.75%206.5C8.33579%206.5%208%206.83579%208%207.25C8%207.66421%208.33579%208%208.75%208Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M11%208C11.4142%208%2011.75%207.66421%2011.75%207.25C11.75%206.83579%2011.4142%206.5%2011%206.5C10.5858%206.5%2010.25%206.83579%2010.25%207.25C10.25%207.66421%2010.5858%208%2011%208Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M13.25%208C13.6642%208%2014%207.66421%2014%207.25C14%206.83579%2013.6642%206.5%2013.25%206.5C12.8358%206.5%2012.5%206.83579%2012.5%207.25C12.5%207.66421%2012.8358%208%2013.25%208Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M15.5%208C15.9142%208%2016.25%207.66421%2016.25%207.25C16.25%206.83579%2015.9142%206.5%2015.5%206.5C15.0858%206.5%2014.75%206.83579%2014.75%207.25C14.75%207.66421%2015.0858%208%2015.5%208Z%22%20fill%3D%22%23636566%22/%3E%0A%3Cpath%20d%3D%22M2%207C2%205.34315%203.34315%204%205%204H15C16.6569%204%2018%205.34315%2018%207V13C18%2014.6569%2016.6569%2016%2015%2016H5C3.34315%2016%202%2014.6569%202%2013V7ZM5%205C3.89543%205%203%205.89543%203%207V9.5H6V5H5ZM6%2010.5H3V13C3%2014.1046%203.89543%2015%205%2015H6V10.5ZM7%2010.5V15H15C16.1046%2015%2017%2014.1046%2017%2013V10.5H7ZM17%209.5V7C17%205.89543%2016.1046%205%2015%205H7V9.5H17Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --chevron-up: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M4.14708%2012.3544C3.95147%2012.1594%203.9509%2011.8429%204.14582%2011.6472L9.6108%206.16276C9.82574%205.94705%2010.1751%205.94705%2010.39%206.16276L15.855%2011.6472C16.0499%2011.8429%2016.0493%2012.1594%2015.8537%2012.3544C15.6581%2012.5493%2015.3415%2012.5487%2015.1466%2012.3531L10.0004%207.18851L4.85418%2012.3531C4.65927%2012.5487%204.34269%2012.5493%204.14708%2012.3544Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --chevron-next: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M15.8527%207.64582C16.0484%207.84073%2016.0489%208.15731%2015.854%208.35292L10.389%2013.8374C10.1741%2014.0531%209.82477%2014.0531%209.60982%2013.8374L4.14484%208.35292C3.94993%208.15731%203.95049%207.84073%204.1461%207.64582C4.34171%207.4509%204.65829%207.45147%204.85321%207.64708L9.99942%2012.8117L15.1456%207.64708C15.3406%207.45147%2015.6571%207.4509%2015.8527%207.64582Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --dismiss: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M4.08859%204.21569L4.14645%204.14645C4.32001%203.97288%204.58944%203.9536%204.78431%204.08859L4.85355%204.14645L10%209.293L15.1464%204.14645C15.32%203.97288%2015.5894%203.9536%2015.7843%204.08859L15.8536%204.14645C16.0271%204.32001%2016.0464%204.58944%2015.9114%204.78431L15.8536%204.85355L10.707%2010L15.8536%2015.1464C16.0271%2015.32%2016.0464%2015.5894%2015.9114%2015.7843L15.8536%2015.8536C15.68%2016.0271%2015.4106%2016.0464%2015.2157%2015.9114L15.1464%2015.8536L10%2010.707L4.85355%2015.8536C4.67999%2016.0271%204.41056%2016.0464%204.21569%2015.9114L4.14645%2015.8536C3.97288%2015.68%203.9536%2015.4106%204.08859%2015.2157L4.14645%2015.1464L9.293%2010L4.14645%204.85355C3.97288%204.67999%203.9536%204.41056%204.08859%204.21569L4.14645%204.14645L4.08859%204.21569Z%22%20fill%3D%22%23636566%22/%3E%0A%3C/svg%3E%0A");
    --bookmark-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M4%204.5C4%203.11929%205.11929%202%206.5%202H13.5C14.8807%202%2016%203.11929%2016%204.5V17.5C16%2017.6881%2015.8945%2017.8602%2015.7269%2017.9456C15.5593%2018.0309%2015.358%2018.015%2015.2059%2017.9044L10%2014.1183L4.79409%2017.9044C4.64199%2018.015%204.4407%2018.0309%204.27311%2017.9456C4.10553%2017.8602%204%2017.6881%204%2017.5V4.5Z%22%20fill%3D%22%23311b92%22/%3E%0A%3C/svg%3E%0A");
    --chat-help-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M2.00001%2010C2.00001%205.58172%205.58173%202%2010%202C14.4183%202%2018%205.58172%2018%2010C18%2014.4183%2014.4183%2018%2010%2018C8.65078%2018%207.37829%2017.6656%206.26225%2017.0748L2.62128%2017.9851C2.45089%2018.0277%202.27065%2017.9777%202.14646%2017.8536C2.02227%2017.7294%201.97234%2017.5491%202.01494%2017.3787L2.92518%2013.7378C2.33442%2012.6217%202.00001%2011.3492%202.00001%2010ZM9.25027%207.30723C9.40317%207.13358%209.64031%207%2010%207C10.3597%207%2010.5968%207.13358%2010.7497%207.30723C10.9113%207.49072%2011%207.74463%2011%208C11%208.31707%2010.9286%208.52273%2010.8337%208.68547C10.7328%208.85858%2010.5985%208.99908%2010.4106%209.19559L10.3885%209.21878C10.2003%209.41576%209.96787%209.66319%209.79142%2010.0002C9.61017%2010.3464%209.5%2010.7611%209.5%2011.2929C9.5%2011.5691%209.72386%2011.7929%2010%2011.7929C10.2761%2011.7929%2010.5%2011.5691%2010.5%2011.2929C10.5%2010.9085%2010.5773%2010.6551%2010.6773%2010.4641C10.7821%2010.2639%2010.9247%2010.1051%2011.1115%209.90956L11.1528%209.86652C11.3225%209.68963%2011.5347%209.46855%2011.6976%209.18921C11.8839%208.86964%2012%208.48947%2012%208C12%207.52689%2011.8387%207.0308%2011.5003%206.64641C11.1532%206.25219%2010.6403%206%2010%206C9.35969%206%208.84683%206.25219%208.49973%206.64641C8.16129%207.0308%208%207.52689%208%208C8%208.27614%208.22386%208.5%208.5%208.5C8.77614%208.5%209%208.27614%209%208C9%207.74463%209.08871%207.49072%209.25027%207.30723ZM10.6995%2013.5126C10.6995%2013.1262%2010.3863%2012.813%209.99989%2012.813C9.61352%2012.813%209.30029%2013.1262%209.30029%2013.5126C9.30029%2013.899%209.61352%2014.2122%209.99989%2014.2122C10.3863%2014.2122%2010.6995%2013.899%2010.6995%2013.5126Z%22%20fill%3D%22%23880e4f%22/%3E%0A%3C/svg%3E%0A");
    --star-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9.10433%202.89874C9.47114%202.15549%2010.531%202.1555%2010.8978%202.89874L12.8282%206.81024L17.1448%207.43748C17.9651%207.55666%2018.2926%208.56464%2017.699%209.14317L14.5755%2012.1878L15.3129%2016.487C15.453%2017.3039%2014.5956%2017.9269%2013.8619%2017.5412L10.0011%2015.5114L6.14018%2017.5412C5.40655%2017.9269%204.54913%2017.3039%204.68924%2016.487L5.4266%2012.1878L2.30308%209.14317C1.70956%208.56463%202.03708%207.55666%202.8573%207.43748L7.17389%206.81024L9.10433%202.89874Z%22%20fill%3D%22%23044289%22/%3E%0A%3C/svg%3E%0A");
    --warn-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M8.68569%202.85232L2.12696%2014.7773C1.57714%2015.777%202.30038%2017.0002%203.44129%2017.0002H16.5587C17.6996%2017.0002%2018.4229%2015.777%2017.8731%2014.7773L11.3143%202.85232C10.7444%201.81615%209.25558%201.81616%208.68569%202.85232ZM10%206.75016C10.4142%206.75016%2010.75%207.08595%2010.75%207.50016V11.5002C10.75%2011.9144%2010.4142%2012.2502%2010%2012.2502C9.58579%2012.2502%209.25%2011.9144%209.25%2011.5002V7.50016C9.25%207.08595%209.58579%206.75016%2010%206.75016ZM10.75%2013.7502C10.75%2014.1644%2010.4142%2014.5002%2010%2014.5002C9.58579%2014.5002%209.25%2014.1644%209.25%2013.7502C9.25%2013.3359%209.58579%2013.0002%2010%2013.0002C10.4142%2013.0002%2010.75%2013.3359%2010.75%2013.7502Z%22%20fill%3D%22%238a2a0d%22/%3E%0A%3C/svg%3E%0A");
    --light-bulb-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M13.073%2015L12.6891%2016.6051C12.5048%2017.3763%2011.8236%2017.935%2011.0181%2017.9947L10.8748%2018H9.12546C8.30655%2018%207.59%2017.4839%207.34866%2016.7385L7.31108%2016.6047L6.928%2015H13.073Z%22%20fill%3D%22%23b0791b%22/%3E%0A%3Cpath%20d%3D%22M10%202C13.3137%202%2016%204.59693%2016%207.80041C16%209.47737%2015.2546%2011.0164%2013.7961%2012.3942C13.7324%2012.4544%2013.6831%2012.5269%2013.6512%2012.6065L13.6251%2012.6883L13.311%2014H10.5002V9.49707C10.5002%209.22093%2010.2764%208.99707%2010.0002%208.99707C9.7241%208.99707%209.50024%209.22093%209.50024%209.49707V14H6.689L6.37626%2012.6886C6.34955%2012.5766%206.29016%2012.4745%206.20516%2012.3942C4.8153%2011.0819%204.07265%209.62354%204.00507%208.03903L4%207.80041L4.00321%207.60894C4.1077%204.49409%206.75257%202%2010%202ZM9.5%206.50238V7.50391C9.5%207.78005%209.72386%208.00391%2010%208.00391C10.2761%208.00391%2010.5%207.78005%2010.5%207.50391V6.50238C10.5%206.22624%2010.2761%206.00238%2010%206.00238C9.72386%206.00238%209.5%206.22624%209.5%206.50238ZM12.8506%207.44332C12.6553%207.24806%2012.3388%207.24806%2012.1435%207.44332L11.4353%208.15151C11.2401%208.34677%2011.2401%208.66335%2011.4353%208.85861C11.6306%209.05388%2011.9472%209.05388%2012.1424%208.85861L12.8506%208.15043C13.0459%207.95517%2013.0459%207.63858%2012.8506%207.44332ZM7.8521%207.44332C7.65684%207.24806%207.34026%207.24806%207.145%207.44332C6.94973%207.63858%206.94973%207.95517%207.145%208.15043L7.85318%208.85861C8.04844%209.05388%208.36503%209.05388%208.56029%208.85861C8.75555%208.66335%208.75555%208.34677%208.56029%208.15151L7.8521%207.44332Z%22%20fill%3D%22%23b0791b%22/%3E%0A%3C/svg%3E%0A");
    --note-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M14%203C15.5977%203%2016.9037%204.24892%2016.9949%205.82373L17%206V10H13L12.8237%2010.0051C11.3072%2010.093%2010.093%2011.3072%2010.0051%2012.8237L10%2013V17H6C4.40232%2017%203.09634%2015.7511%203.00509%2014.1763L3%2014V6C3%204.40232%204.24892%203.09634%205.82373%203.00509L6%203H14ZM16.9007%2011.001C16.8232%2011.2376%2016.7018%2011.459%2016.5416%2011.6528L16.4142%2011.7929L11.7929%2016.4142C11.5687%2016.6384%2011.2968%2016.8039%2011.001%2016.9007L11%2013L11.0055%2012.8507C11.078%2011.8676%2011.8612%2011.0821%2012.8433%2011.006L13%2011L16.9007%2011.001Z%22%20fill%3D%22%23004d40%22/%3E%0A%3C/svg%3E%0A");
    --elevated-background: var(--color-scale-gray-0);
    --border: #f1f3f4;
    --icon-color: var(--text-color);
    --icon-filer: brightness(10);
    --title-color: #08090b;
    --monospace: var(--mono);
    --mark-border: none;
    --table-border: 1px solid var(--color-scale-gray-2) !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --title-color: #eff0f2;
        --bg-color: #131416;
        --text-color: #d0d3d4;
        --side-bar-bg-color: #030405;
        --control-text-color: #a0a0a0;
        --item-hover-bg-color: rgba(60, 61, 61, 0.59);
        --elevated-background: var(--color-scale-gray-9);
        --border: var(--color-auto-gray-8);
        --primary-color: #33373f;
        --accent-color: #33373f;
        --icon-color: var(--color-scale-gray-1);
        --icon-filer: brightness(10);
        --bookmark-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M4%204.5C4%203.11929%205.11929%202%206.5%202H13.5C14.8807%202%2016%203.11929%2016%204.5V17.5C16%2017.6881%2015.8945%2017.8602%2015.7269%2017.9456C15.5593%2018.0309%2015.358%2018.015%2015.2059%2017.9044L10%2014.1183L4.79409%2017.9044C4.64199%2018.015%204.4407%2018.0309%204.27311%2017.9456C4.10553%2017.8602%204%2017.6881%204%2017.5V4.5Z%22%20fill%3D%22%23ae92e3%22/%3E%0A%3C/svg%3E%0A");
        --chat-help-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M2.00001%2010C2.00001%205.58172%205.58173%202%2010%202C14.4183%202%2018%205.58172%2018%2010C18%2014.4183%2014.4183%2018%2010%2018C8.65078%2018%207.37829%2017.6656%206.26225%2017.0748L2.62128%2017.9851C2.45089%2018.0277%202.27065%2017.9777%202.14646%2017.8536C2.02227%2017.7294%201.97234%2017.5491%202.01494%2017.3787L2.92518%2013.7378C2.33442%2012.6217%202.00001%2011.3492%202.00001%2010ZM9.25027%207.30723C9.40317%207.13358%209.64031%207%2010%207C10.3597%207%2010.5968%207.13358%2010.7497%207.30723C10.9113%207.49072%2011%207.74463%2011%208C11%208.31707%2010.9286%208.52273%2010.8337%208.68547C10.7328%208.85858%2010.5985%208.99908%2010.4106%209.19559L10.3885%209.21878C10.2003%209.41576%209.96787%209.66319%209.79142%2010.0002C9.61017%2010.3464%209.5%2010.7611%209.5%2011.2929C9.5%2011.5691%209.72386%2011.7929%2010%2011.7929C10.2761%2011.7929%2010.5%2011.5691%2010.5%2011.2929C10.5%2010.9085%2010.5773%2010.6551%2010.6773%2010.4641C10.7821%2010.2639%2010.9247%2010.1051%2011.1115%209.90956L11.1528%209.86652C11.3225%209.68963%2011.5347%209.46855%2011.6976%209.18921C11.8839%208.86964%2012%208.48947%2012%208C12%207.52689%2011.8387%207.0308%2011.5003%206.64641C11.1532%206.25219%2010.6403%206%2010%206C9.35969%206%208.84683%206.25219%208.49973%206.64641C8.16129%207.0308%208%207.52689%208%208C8%208.27614%208.22386%208.5%208.5%208.5C8.77614%208.5%209%208.27614%209%208C9%207.74463%209.08871%207.49072%209.25027%207.30723ZM10.6995%2013.5126C10.6995%2013.1262%2010.3863%2012.813%209.99989%2012.813C9.61352%2012.813%209.30029%2013.1262%209.30029%2013.5126C9.30029%2013.899%209.61352%2014.2122%209.99989%2014.2122C10.3863%2014.2122%2010.6995%2013.899%2010.6995%2013.5126Z%22%20fill%3D%22%23f8bbd0%22/%3E%0A%3C/svg%3E%0A");
        --star-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9.10433%202.89874C9.47114%202.15549%2010.531%202.1555%2010.8978%202.89874L12.8282%206.81024L17.1448%207.43748C17.9651%207.55666%2018.2926%208.56464%2017.699%209.14317L14.5755%2012.1878L15.3129%2016.487C15.453%2017.3039%2014.5956%2017.9269%2013.8619%2017.5412L10.0011%2015.5114L6.14018%2017.5412C5.40655%2017.9269%204.54913%2017.3039%204.68924%2016.487L5.4266%2012.1878L2.30308%209.14317C1.70956%208.56463%202.03708%207.55666%202.8573%207.43748L7.17389%206.81024L9.10433%202.89874Z%22%20fill%3D%22%23c8e1ff%22/%3E%0A%3C/svg%3E%0A");
        --warn-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M8.68569%202.85232L2.12696%2014.7773C1.57714%2015.777%202.30038%2017.0002%203.44129%2017.0002H16.5587C17.6996%2017.0002%2018.4229%2015.777%2017.8731%2014.7773L11.3143%202.85232C10.7444%201.81615%209.25558%201.81616%208.68569%202.85232ZM10%206.75016C10.4142%206.75016%2010.75%207.08595%2010.75%207.50016V11.5002C10.75%2011.9144%2010.4142%2012.2502%2010%2012.2502C9.58579%2012.2502%209.25%2011.9144%209.25%2011.5002V7.50016C9.25%207.08595%209.58579%206.75016%2010%206.75016ZM10.75%2013.7502C10.75%2014.1644%2010.4142%2014.5002%2010%2014.5002C9.58579%2014.5002%209.25%2014.1644%209.25%2013.7502C9.25%2013.3359%209.58579%2013.0002%2010%2013.0002C10.4142%2013.0002%2010.75%2013.3359%2010.75%2013.7502Z%22%20fill%3D%22%23e69d94%22/%3E%0A%3C/svg%3E%0A");
        --light-bulb-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M13.073%2015L12.6891%2016.6051C12.5048%2017.3763%2011.8236%2017.935%2011.0181%2017.9947L10.8748%2018H9.12546C8.30655%2018%207.59%2017.4839%207.34866%2016.7385L7.31108%2016.6047L6.928%2015H13.073Z%22%20fill%3D%22%23fff9c4%22/%3E%0A%3Cpath%20d%3D%22M10%202C13.3137%202%2016%204.59693%2016%207.80041C16%209.47737%2015.2546%2011.0164%2013.7961%2012.3942C13.7324%2012.4544%2013.6831%2012.5269%2013.6512%2012.6065L13.6251%2012.6883L13.311%2014H10.5002V9.49707C10.5002%209.22093%2010.2764%208.99707%2010.0002%208.99707C9.7241%208.99707%209.50024%209.22093%209.50024%209.49707V14H6.689L6.37626%2012.6886C6.34955%2012.5766%206.29016%2012.4745%206.20516%2012.3942C4.8153%2011.0819%204.07265%209.62354%204.00507%208.03903L4%207.80041L4.00321%207.60894C4.1077%204.49409%206.75257%202%2010%202ZM9.5%206.50238V7.50391C9.5%207.78005%209.72386%208.00391%2010%208.00391C10.2761%208.00391%2010.5%207.78005%2010.5%207.50391V6.50238C10.5%206.22624%2010.2761%206.00238%2010%206.00238C9.72386%206.00238%209.5%206.22624%209.5%206.50238ZM12.8506%207.44332C12.6553%207.24806%2012.3388%207.24806%2012.1435%207.44332L11.4353%208.15151C11.2401%208.34677%2011.2401%208.66335%2011.4353%208.85861C11.6306%209.05388%2011.9472%209.05388%2012.1424%208.85861L12.8506%208.15043C13.0459%207.95517%2013.0459%207.63858%2012.8506%207.44332ZM7.8521%207.44332C7.65684%207.24806%207.34026%207.24806%207.145%207.44332C6.94973%207.63858%206.94973%207.95517%207.145%208.15043L7.85318%208.85861C8.04844%209.05388%208.36503%209.05388%208.56029%208.85861C8.75555%208.66335%208.75555%208.34677%208.56029%208.15151L7.8521%207.44332Z%22%20fill%3D%22%23fff9c4%22/%3E%0A%3C/svg%3E%0A");
        --note-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M14%203C15.5977%203%2016.9037%204.24892%2016.9949%205.82373L17%206V10H13L12.8237%2010.0051C11.3072%2010.093%2010.093%2011.3072%2010.0051%2012.8237L10%2013V17H6C4.40232%2017%203.09634%2015.7511%203.00509%2014.1763L3%2014V6C3%204.40232%204.24892%203.09634%205.82373%203.00509L6%203H14ZM16.9007%2011.001C16.8232%2011.2376%2016.7018%2011.459%2016.5416%2011.6528L16.4142%2011.7929L11.7929%2016.4142C11.5687%2016.6384%2011.2968%2016.8039%2011.001%2016.9007L11%2013L11.0055%2012.8507C11.078%2011.8676%2011.8612%2011.0821%2012.8433%2011.006L13%2011L16.9007%2011.001Z%22%20fill%3D%22%238be3d6%22/%3E%0A%3C/svg%3E%0A");
        --checkbox-filled: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M18%203C19.6569%203%2021%204.34315%2021%206V18C21%2019.6569%2019.6569%2021%2018%2021H6C4.34315%2021%203%2019.6569%203%2018V6C3%204.34315%204.34315%203%206%203H18ZM16.4697%207.96967L10%2014.4393L7.53033%2011.9697C7.23744%2011.6768%206.76256%2011.6768%206.46967%2011.9697C6.17678%2012.2626%206.17678%2012.7374%206.46967%2013.0303L9.46967%2016.0303C9.76256%2016.3232%2010.2374%2016.3232%2010.5303%2016.0303L17.5303%209.03033C17.8232%208.73744%2017.8232%208.26256%2017.5303%207.96967C17.2374%207.67678%2016.7626%207.67678%2016.4697%207.96967Z%22%20fill%3D%22%23d0d3d4%22/%3E%0A%3C/svg%3E%0A");
        --dots: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M10%206C9.30964%206%208.75%205.44036%208.75%204.75C8.75%204.05964%209.30964%203.5%2010%203.5C10.6904%203.5%2011.25%204.05964%2011.25%204.75C11.25%205.44036%2010.6904%206%2010%206Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3Cpath%20d%3D%22M10%2011.25C9.30964%2011.25%208.75%2010.6904%208.75%2010C8.75%209.30964%209.30964%208.75%2010%208.75C10.6904%208.75%2011.25%209.30964%2011.25%2010C11.25%2010.6904%2010.6904%2011.25%2010%2011.25Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3Cpath%20d%3D%22M8.75%2015.25C8.75%2015.9404%209.30964%2016.5%2010%2016.5C10.6904%2016.5%2011.25%2015.9404%2011.25%2015.25C11.25%2014.5596%2010.6904%2014%2010%2014C9.30964%2014%208.75%2014.5596%208.75%2015.25Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --cells: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7.5%2011C8.32843%2011%209%2011.6716%209%2012.5V16.5C9%2017.3284%208.32843%2018%207.5%2018H3.5C2.67157%2018%202%2017.3284%202%2016.5V12.5C2%2011.6716%202.67157%2011%203.5%2011H7.5ZM16.5%2011C17.3284%2011%2018%2011.6716%2018%2012.5V16.5C18%2017.3284%2017.3284%2018%2016.5%2018H12.5C11.6716%2018%2011%2017.3284%2011%2016.5V12.5C11%2011.6716%2011.6716%2011%2012.5%2011H16.5ZM7.5%2012H3.5C3.22386%2012%203%2012.2239%203%2012.5V16.5C3%2016.7761%203.22386%2017%203.5%2017H7.5C7.77614%2017%208%2016.7761%208%2016.5V12.5C8%2012.2239%207.77614%2012%207.5%2012ZM16.5%2012H12.5C12.2239%2012%2012%2012.2239%2012%2012.5V16.5C12%2016.7761%2012.2239%2017%2012.5%2017H16.5C16.7761%2017%2017%2016.7761%2017%2016.5V12.5C17%2012.2239%2016.7761%2012%2016.5%2012ZM7.5%202C8.32843%202%209%202.67157%209%203.5V7.5C9%208.32843%208.32843%209%207.5%209H3.5C2.67157%209%202%208.32843%202%207.5V3.5C2%202.67157%202.67157%202%203.5%202H7.5ZM16.5%202C17.3284%202%2018%202.67157%2018%203.5V7.5C18%208.32843%2017.3284%209%2016.5%209H12.5C11.6716%209%2011%208.32843%2011%207.5V3.5C11%202.67157%2011.6716%202%2012.5%202H16.5ZM7.5%203H3.5C3.22386%203%203%203.22386%203%203.5V7.5C3%207.77614%203.22386%208%203.5%208H7.5C7.77614%208%208%207.77614%208%207.5V3.5C8%203.22386%207.77614%203%207.5%203ZM16.5%203H12.5C12.2239%203%2012%203.22386%2012%203.5V7.5C12%207.77614%2012.2239%208%2012.5%208H16.5C16.7761%208%2017%207.77614%2017%207.5V3.5C17%203.22386%2016.7761%203%2016.5%203Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --add: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9.5%2016.5C9.5%2016.7761%209.72386%2017%2010%2017C10.2761%2017%2010.5%2016.7761%2010.5%2016.5V10.5H16.5C16.7761%2010.5%2017%2010.2761%2017%2010C17%209.72386%2016.7761%209.5%2016.5%209.5H10.5V3.5C10.5%203.22386%2010.2761%203%2010%203C9.72386%203%209.5%203.22386%209.5%203.5V9.5H3.5C3.22386%209.5%203%209.72386%203%2010C3%2010.2761%203.22386%2010.5%203.5%2010.5H9.5V16.5Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --chevron-right: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M4.46967%202.21967C4.17678%202.51256%204.17678%202.98744%204.46967%203.28033L7.18934%206L4.46967%208.71967C4.17678%209.01256%204.17678%209.48744%204.46967%209.78033C4.76256%2010.0732%205.23744%2010.0732%205.53033%209.78033L8.78033%206.53033C9.07322%206.23744%209.07322%205.76256%208.78033%205.46967L5.53033%202.21967C5.23744%201.92678%204.76256%201.92678%204.46967%202.21967Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --chevron-down: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M2.21967%204.46967C2.51256%204.17678%202.98744%204.17678%203.28033%204.46967L6%207.18934L8.71967%204.46967C9.01256%204.17678%209.48744%204.17678%209.78033%204.46967C10.0732%204.76256%2010.0732%205.23744%209.78033%205.53033L6.53033%208.78033C6.23744%209.07322%205.76256%209.07322%205.46967%208.78033L2.21967%205.53033C1.92678%205.23744%201.92678%204.76256%202.21967%204.46967Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --document: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7.5%207C7.22386%207%207%207.22386%207%207.5C7%207.77614%207.22386%208%207.5%208H12.5C12.7761%208%2013%207.77614%2013%207.5C13%207.22386%2012.7761%207%2012.5%207H7.5Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3Cpath%20d%3D%22M7%2010.5C7%2010.2239%207.22386%2010%207.5%2010H12.5C12.7761%2010%2013%2010.2239%2013%2010.5C13%2010.7761%2012.7761%2011%2012.5%2011H7.5C7.22386%2011%207%2010.7761%207%2010.5Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3Cpath%20d%3D%22M7.5%2013C7.22386%2013%207%2013.2239%207%2013.5C7%2013.7761%207.22386%2014%207.5%2014H9.5C9.77614%2014%2010%2013.7761%2010%2013.5C10%2013.2239%209.77614%2013%209.5%2013H7.5Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3Cpath%20d%3D%22M6.5%202C6.22386%202%206%202.22386%206%202.5V3H5.5C4.67157%203%204%203.67157%204%204.5V16.5C4%2017.3284%204.67157%2018%205.5%2018H11.5C11.6326%2018%2011.7598%2017.9473%2011.8536%2017.8536L15.8536%2013.8536C15.9473%2013.7598%2016%2013.6326%2016%2013.5V4.5C16%203.67157%2015.3284%203%2014.5%203H14V2.5C14%202.22386%2013.7761%202%2013.5%202C13.2239%202%2013%202.22386%2013%202.5V3H10.5V2.5C10.5%202.22386%2010.2761%202%2010%202C9.72386%202%209.5%202.22386%209.5%202.5V3H7V2.5C7%202.22386%206.77614%202%206.5%202ZM14.5%204C14.7761%204%2015%204.22386%2015%204.5V13H12.5C11.6716%2013%2011%2013.6716%2011%2014.5V17H5.5C5.22386%2017%205%2016.7761%205%2016.5V4.5C5%204.22386%205.22386%204%205.5%204H14.5ZM14.2929%2014L12%2016.2929V14.5C12%2014.2239%2012.2239%2014%2012.5%2014H14.2929Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --folder: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M7.16667%203C7.43713%203%207.70151%203.0731%207.93238%203.21016L8.06667%203.3L9.667%204.5H15.5C16.7703%204.5%2017.8192%205.44737%2017.9789%206.67409L17.9947%206.83562L18%207V14.5C18%2015.8255%2016.9685%2016.91%2015.6644%2016.9947L15.5%2017H4.5C3.17452%2017%202.08996%2015.9685%202.00532%2014.6644L2%2014.5V5.5C2%204.17452%203.03154%203.08996%204.33562%203.00532L4.5%203H7.16667ZM8.15763%207.03449C7.90991%207.2946%207.57838%207.45592%207.22435%207.49219L7.07143%207.5L3%207.499V14.5C3%2015.2797%203.59489%2015.9204%204.35554%2015.9931L4.5%2016H15.5C16.2797%2016%2016.9204%2015.4051%2016.9931%2014.6445L17%2014.5V7C17%206.2203%2016.4051%205.57955%2015.6445%205.50687L15.5%205.5H9.617L8.15763%207.03449ZM7.16667%204H4.5C3.7203%204%203.07955%204.59489%203.00687%205.35554L3%205.5V6.499L7.07143%206.5C7.1809%206.5%207.28655%206.46411%207.37274%206.39902L7.4335%206.34483L8.694%205.021L7.46667%204.1C7.40176%204.05132%207.32632%204.01941%207.24701%204.0065L7.16667%204Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --navigation: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M3%206.5C3.55228%206.5%204%206.05228%204%205.5C4%204.94772%203.55228%204.5%203%204.5C2.44772%204.5%202%204.94772%202%205.5C2%206.05228%202.44772%206.5%203%206.5ZM6%205.5C6%205.22386%206.22386%205%206.5%205H17.5C17.7761%205%2018%205.22386%2018%205.5C18%205.77614%2017.7761%206%2017.5%206H6.5C6.22386%206%206%205.77614%206%205.5ZM6%209.5C6%209.22386%206.22386%209%206.5%209H17.5C17.7761%209%2018%209.22386%2018%209.5C18%209.77614%2017.7761%2010%2017.5%2010H6.5C6.22386%2010%206%209.77614%206%209.5ZM6.5%2013C6.22386%2013%206%2013.2239%206%2013.5C6%2013.7761%206.22386%2014%206.5%2014H17.5C17.7761%2014%2018%2013.7761%2018%2013.5C18%2013.2239%2017.7761%2013%2017.5%2013H6.5ZM4%2013.5C4%2014.0523%203.55228%2014.5%203%2014.5C2.44772%2014.5%202%2014.0523%202%2013.5C2%2012.9477%202.44772%2012.5%203%2012.5C3.55228%2012.5%204%2012.9477%204%2013.5ZM3%2010.5C3.55228%2010.5%204%2010.0523%204%209.5C4%208.94772%203.55228%208.5%203%208.5C2.44772%208.5%202%208.94772%202%209.5C2%2010.0523%202.44772%2010.5%203%2010.5Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --tree: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9%205C9%203.34315%207.65685%202%206%202C4.34315%202%203%203.34315%203%205C3%206.4865%204.08114%207.72048%205.5%207.95852V12.0415C4.08114%2012.2795%203%2013.5135%203%2015C3%2016.6569%204.34315%2018%206%2018C7.65685%2018%209%2016.6569%209%2015C9%2013.5135%207.91886%2012.2795%206.5%2012.0415V11H12C13.3807%2011%2014.5%209.88071%2014.5%208.5V7.95852C15.9189%207.72048%2017%206.4865%2017%205C17%203.34315%2015.6569%202%2014%202C12.3431%202%2011%203.34315%2011%205C11%206.4865%2012.0811%207.72048%2013.5%207.95852V8.5C13.5%209.32843%2012.8284%2010%2012%2010H6.5V7.95852C7.91886%207.72048%209%206.4865%209%205ZM6%207C4.89543%207%204%206.10457%204%205C4%203.89543%204.89543%203%206%203C7.10457%203%208%203.89543%208%205C8%206.10457%207.10457%207%206%207ZM6%2017C4.89543%2017%204%2016.1046%204%2015C4%2013.8954%204.89543%2013%206%2013C7.10457%2013%208%2013.8954%208%2015C8%2016.1046%207.10457%2017%206%2017ZM16%205C16%206.10457%2015.1046%207%2014%207C12.8954%207%2012%206.10457%2012%205C12%203.89543%2012.8954%203%2014%203C15.1046%203%2016%203.89543%2016%205Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --search: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M8.5%203C11.5376%203%2014%205.46243%2014%208.5C14%209.83879%2013.5217%2011.0659%2012.7266%2012.0196L16.8536%2016.1464C17.0488%2016.3417%2017.0488%2016.6583%2016.8536%2016.8536C16.68%2017.0271%2016.4106%2017.0464%2016.2157%2016.9114L16.1464%2016.8536L12.0196%2012.7266C11.0659%2013.5217%209.83879%2014%208.5%2014C5.46243%2014%203%2011.5376%203%208.5C3%205.46243%205.46243%203%208.5%203ZM8.5%204C6.01472%204%204%206.01472%204%208.5C4%2010.9853%206.01472%2013%208.5%2013C10.9853%2013%2013%2010.9853%2013%208.5C13%206.01472%2010.9853%204%208.5%204Z%22%20fill%3D%22%23a0a0a0%22/%3E%0A%3C/svg%3E%0A");
        --checkbox-checked: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M18.25%203C19.7688%203%2021%204.23122%2021%205.75V18.25C21%2019.7688%2019.7688%2021%2018.25%2021H5.75C4.23122%2021%203%2019.7688%203%2018.25V5.75C3%204.23122%204.23122%203%205.75%203H18.25ZM18.25%204.5H5.75C5.05964%204.5%204.5%205.05964%204.5%205.75V18.25C4.5%2018.9404%205.05964%2019.5%205.75%2019.5H18.25C18.9404%2019.5%2019.5%2018.9404%2019.5%2018.25V5.75C19.5%205.05964%2018.9404%204.5%2018.25%204.5ZM10%2014.4393L16.4697%207.96967C16.7626%207.67678%2017.2374%207.67678%2017.5303%207.96967C17.7966%208.23594%2017.8208%208.6526%2017.6029%208.94621L17.5303%209.03033L10.5303%2016.0303C10.2641%2016.2966%209.8474%2016.3208%209.55379%2016.1029L9.46967%2016.0303L6.46967%2013.0303C6.17678%2012.7374%206.17678%2012.2626%206.46967%2011.9697C6.73594%2011.7034%207.1526%2011.6792%207.44621%2011.8971L7.53033%2011.9697L10%2014.4393L16.4697%207.96967L10%2014.4393Z%22%20fill%3D%22%23f0f0f0%22/%3E%0A%3C/svg%3E%0A");
        --checkbox-unchecked: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M5.75%203H18.25C19.7688%203%2021%204.23122%2021%205.75V18.25C21%2019.7688%2019.7688%2021%2018.25%2021H5.75C4.23122%2021%203%2019.7688%203%2018.25V5.75C3%204.23122%204.23122%203%205.75%203ZM5.75%204.5C5.05964%204.5%204.5%205.05964%204.5%205.75V18.25C4.5%2018.9404%205.05964%2019.5%205.75%2019.5H18.25C18.9404%2019.5%2019.5%2018.9404%2019.5%2018.25V5.75C19.5%205.05964%2018.9404%204.5%2018.25%204.5H5.75Z%22%20fill%3D%22%23f0f0f0%22/%3E%0A%3C/svg%3E%0A");
        --case: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M13.4911%203.50005C13.7013%203.50299%2013.8873%203.63714%2013.9563%203.83574L17.6085%2014.3357C17.6992%2014.5966%2017.5613%2014.8815%2017.3005%2014.9722C17.0397%2015.063%2016.7547%2014.9251%2016.664%2014.6643L15.7373%2012L10.9833%2012L9.96737%2014.6774C9.8694%2014.9356%209.58069%2015.0654%209.32251%2014.9675C9.06433%2014.8695%208.93445%2014.5808%209.03241%2014.3226L10.2727%2011.0539V11H10.2932L13.0166%203.82262C13.0912%203.62603%2013.2808%203.49711%2013.4911%203.50005ZM13.4636%205.46323L11.3627%2011L15.3895%2011L13.4636%205.46323Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M5.6667%208.70091L5.85817%208.70749C7.16522%208.77248%207.94311%209.52482%207.997%2010.737L8%2010.8735V14.5402C8%2014.7933%207.8119%2015.0025%207.56785%2015.0356L7.5%2015.0402C7.24687%2015.0402%207.03767%2014.8521%207.00456%2014.6081L7%2014.5402L6.9991%2014.4706C6.34072%2014.8475%205.7317%2015.0402%205.16667%2015.0402C3.94105%2015.0402%203%2014.1772%203%2012.8735C3%2011.724%203.79229%2010.8699%205.10646%2010.7105C5.728%2010.6351%206.35968%2010.6823%206.99902%2010.8503C6.99247%2010.1122%206.62837%209.74702%205.8085%209.70625C5.16701%209.67435%204.7162%209.76443%204.45216%209.94958C4.22607%2010.1081%203.91426%2010.0534%203.75572%209.82728C3.59717%209.60118%203.65193%209.28937%203.87802%209.13083C4.31656%208.8233%204.91381%208.68705%205.6667%208.70091ZM6.99933%2011.916L6.79742%2011.8558C6.25917%2011.7078%205.73655%2011.6657%205.22687%2011.7275C4.40527%2011.8271%204%2012.264%204%2012.8978C4%2013.6289%204.47493%2014.0644%205.16667%2014.0644C5.62021%2014.0644%206.17899%2013.8549%206.83419%2013.422L6.99933%2013.3094V11.916Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3C/svg%3E%0A");
        --arrowleft: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9.16289%2016.8692C9.36683%2017.0555%209.68308%2017.0411%209.86926%2016.8371C10.0554%2016.6331%2010.041%2016.3168%209.83711%2016.1306L3.66925%2010.4988L17.5%2010.4988C17.7761%2010.4988%2018%2010.2749%2018%209.99868C18%209.72249%2017.7761%209.49859%2017.5%209.49859L3.67214%209.49859L9.83711%203.86943C10.041%203.68322%2010.0554%203.3669%209.86926%203.16293C9.68308%202.95895%209.36683%202.94455%209.16289%203.13076L2.24654%209.446C2.10659%209.57378%202.02676%209.74135%202.00705%209.91453C2.00241%209.94189%202%209.97%202%209.99868C2%2010.0256%202.00212%2010.0519%202.0062%2010.0777C2.02437%2010.2536%202.10449%2010.4243%202.24654%2010.554L9.16289%2016.8692Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3C/svg%3E%0A");
        --match: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M9.5%2012.75C9.5%2013.1642%209.16421%2013.5%208.75%2013.5C8.33579%2013.5%208%2013.1642%208%2012.75C8%2012.3358%208.33579%2012%208.75%2012C9.16421%2012%209.5%2012.3358%209.5%2012.75Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M11.75%2012.75C11.75%2013.1642%2011.4142%2013.5%2011%2013.5C10.5858%2013.5%2010.25%2013.1642%2010.25%2012.75C10.25%2012.3358%2010.5858%2012%2011%2012C11.4142%2012%2011.75%2012.3358%2011.75%2012.75Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M14%2012.75C14%2013.1642%2013.6642%2013.5%2013.25%2013.5C12.8358%2013.5%2012.5%2013.1642%2012.5%2012.75C12.5%2012.3358%2012.8358%2012%2013.25%2012C13.6642%2012%2014%2012.3358%2014%2012.75Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M16.25%2012.75C16.25%2013.1642%2015.9142%2013.5%2015.5%2013.5C15.0858%2013.5%2014.75%2013.1642%2014.75%2012.75C14.75%2012.3358%2015.0858%2012%2015.5%2012C15.9142%2012%2016.25%2012.3358%2016.25%2012.75Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M8.75%208C9.16421%208%209.5%207.66421%209.5%207.25C9.5%206.83579%209.16421%206.5%208.75%206.5C8.33579%206.5%208%206.83579%208%207.25C8%207.66421%208.33579%208%208.75%208Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M11%208C11.4142%208%2011.75%207.66421%2011.75%207.25C11.75%206.83579%2011.4142%206.5%2011%206.5C10.5858%206.5%2010.25%206.83579%2010.25%207.25C10.25%207.66421%2010.5858%208%2011%208Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M13.25%208C13.6642%208%2014%207.66421%2014%207.25C14%206.83579%2013.6642%206.5%2013.25%206.5C12.8358%206.5%2012.5%206.83579%2012.5%207.25C12.5%207.66421%2012.8358%208%2013.25%208Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M15.5%208C15.9142%208%2016.25%207.66421%2016.25%207.25C16.25%206.83579%2015.9142%206.5%2015.5%206.5C15.0858%206.5%2014.75%206.83579%2014.75%207.25C14.75%207.66421%2015.0858%208%2015.5%208Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3Cpath%20d%3D%22M2%207C2%205.34315%203.34315%204%205%204H15C16.6569%204%2018%205.34315%2018%207V13C18%2014.6569%2016.6569%2016%2015%2016H5C3.34315%2016%202%2014.6569%202%2013V7ZM5%205C3.89543%205%203%205.89543%203%207V9.5H6V5H5ZM6%2010.5H3V13C3%2014.1046%203.89543%2015%205%2015H6V10.5ZM7%2010.5V15H15C16.1046%2015%2017%2014.1046%2017%2013V10.5H7ZM17%209.5V7C17%205.89543%2016.1046%205%2015%205H7V9.5H17Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3C/svg%3E%0A");
        --chevron-up: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M4.14708%2012.3544C3.95147%2012.1594%203.9509%2011.8429%204.14582%2011.6472L9.6108%206.16276C9.82574%205.94705%2010.1751%205.94705%2010.39%206.16276L15.855%2011.6472C16.0499%2011.8429%2016.0493%2012.1594%2015.8537%2012.3544C15.6581%2012.5493%2015.3415%2012.5487%2015.1466%2012.3531L10.0004%207.18851L4.85418%2012.3531C4.65927%2012.5487%204.34269%2012.5493%204.14708%2012.3544Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3C/svg%3E%0A");
        --chevron-next: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M15.8527%207.64582C16.0484%207.84073%2016.0489%208.15731%2015.854%208.35292L10.389%2013.8374C10.1741%2014.0531%209.82477%2014.0531%209.60982%2013.8374L4.14484%208.35292C3.94993%208.15731%203.95049%207.84073%204.1461%207.64582C4.34171%207.4509%204.65829%207.45147%204.85321%207.64708L9.99942%2012.8117L15.1456%207.64708C15.3406%207.45147%2015.6571%207.4509%2015.8527%207.64582Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3C/svg%3E%0A");
        --dismiss: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M4.08859%204.21569L4.14645%204.14645C4.32001%203.97288%204.58944%203.9536%204.78431%204.08859L4.85355%204.14645L10%209.293L15.1464%204.14645C15.32%203.97288%2015.5894%203.9536%2015.7843%204.08859L15.8536%204.14645C16.0271%204.32001%2016.0464%204.58944%2015.9114%204.78431L15.8536%204.85355L10.707%2010L15.8536%2015.1464C16.0271%2015.32%2016.0464%2015.5894%2015.9114%2015.7843L15.8536%2015.8536C15.68%2016.0271%2015.4106%2016.0464%2015.2157%2015.9114L15.1464%2015.8536L10%2010.707L4.85355%2015.8536C4.67999%2016.0271%204.41056%2016.0464%204.21569%2015.9114L4.14645%2015.8536C3.97288%2015.68%203.9536%2015.4106%204.08859%2015.2157L4.14645%2015.1464L9.293%2010L4.14645%204.85355C3.97288%204.67999%203.9536%204.41056%204.08859%204.21569L4.14645%204.14645L4.08859%204.21569Z%22%20fill%3D%22%23a3a7a8%22/%3E%0A%3C/svg%3E%0A");
        --color-cm-keyword: #a8cdf4;
        --color-cm-attr: #dea8e7;
        --color-cm-comment: #92989e;
        --color-cm-string: #8ce7b9;
        --color-cm-operator: #f1a5c1;
        --color-cm-number: #f1a5c1;
        --color-cm-meta: #bfa3e4;
        --color-cm-builtin: #e7bc9f;
        --color-cm-link: #9edae9;
        --color-cm-v3: #bafdf7;
        --mark-bg: #ffde6720;
        --mark-text: #ffe790;
        --text-link: #7492ff;
        --color-cm-v: #f2c08b;
        --border: #393b3b;
        --question-color: #f8bbd0;
        --alert-color: #e69d94;
        --note-color: #8be3d6;
        --lightbulb-color: #fff9c4;
        --bookmark-color: #ae92e3;
        --star-color: var(--color-scale-blue-2);
        --table-border: 1px solid var(--color-scale-gray-7) !important;
    }
}

/* CJK override */

@font-face {
    font-family: quote1;
    src: local("思源黑体");
    unicode-range: U+201c, U+201d;
}

@font-face {
    font-family: quote2;
    src: local("思源黑体 CN");
    unicode-range: U+201c, U+201d;
}

@font-face {
    font-family: quote3;
    src: local("Source Han Sans SC");
    unicode-range: U+201c, U+201d;
}

:root {
    --mono: var(--mono-font), var(--cjk-font);
    --general-font: quote1, quote2, quote3, var(--text-font), var(--cjk-font), var(--fallback-font);
    --display-font: quote1, quote2, quote3, var(--title-font), var(--cjk-font), var(--fallback-font);
}

html {
    font-size: 14px;
}

body, .file-list-item-summary {
    font-family: var(--general-font);
    font-feature-settings: var(--general-font-feature-settings);
    color: var(--text-color);
    line-height: 1.6;
}

#write {
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 100px;
}

@media only screen and (min-width: 1400px) {
    #write {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1800px) {
    #write {
        max-width: 1200px;
    }
}

#write>ul:first-child, #write>ol:first-child {
    margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
    font-family: var(--display-font)!important;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    letter-spacing: -0.04rem;
}

h6 {
    margin-top: .6rem;
    margin-bottom: .2rem;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    text-decoration: none;
}

h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
    font-size: inherit;
}

h1 {
    font-size: 2.25em;
    line-height: 1.2;
}

h2 {
    font-size: 1.75em;
    line-height: 1.225;
}

h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
    color: #777;
}

p, blockquote, ul, ol, dl, table {
    margin: 0.8em 0;
}

li>ol, li>ul {
    margin: 0 0;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    border: inherit;
    background-color: inherit;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}

ul, ol {
    padding-left: 30px;
}

ul:first-child, ol:first-child {
    margin-top: 0;
}

ul:last-child, ol:last-child {
    margin-bottom: 0;
}

blockquote {
    color: var(--text-color);
    border: 1px solid var(--border);
    background-color: var(--elevated-background);
    border-radius: 4px;
    padding: 12px 16px;
    overflow: hidden;
    box-sizing: border-box;
}

blockquote blockquote {
    padding-right: 0;
}

table {
    padding: 0;
    word-break: initial;
}

table tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n), thead {
    background-color: #f8f8f8;
}

table th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}

table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}

table th:first-child, table td:first-child {
    margin-top: 0;
}

table th:last-child, table td:last-child {
    margin-bottom: 0;
}

.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    border: 1px solid var(--border);
    background-color: var(--elevated-background);
    border-radius: 4px;
    font-family: var(--general-font);
    box-shadow: none!important;
}

.md-fences, code, tt {
    color: var(--text-color);
    border: 1px solid var(--border);
    background-color: var(--elevated-background);
    border-radius: 4px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    font-family: var(--mono);
    font-variant-ligatures: common-ligatures!important;
    font-feature-settings: "liga" 1!important;
}

code {
    background-color: var(--elevated-background);
    padding: 0 2px 0 2px;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}

.md-task-list-item>input {
    margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }
    table, pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
    input[type=checkbox] {
        margin-top: -1px!important;
    }
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--elevated-background);
    border: 0;
    border-radius: 4px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
    bottom: .375rem;
}

.md-mathjax-midline {
    background: var(--elevated-background);
}

#write>h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

#write>h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write>h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write>h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.md-image>.md-meta {
    border-radius: 4px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: var(--text-color);
    opacity: 1;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid var(--border);
    background-color: var(--elevated-background);
}

#typora-quick-open-item {
    background-color: var(--elevated-background);
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */

.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer {
    font-family: var(--general-font);
}

.file-node-content:hover .file-node-icon, .file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: var(--elevated-background);
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

#md-notification .btn {
    border: 0;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
    opacity: 0.4;
}

.ty-preferences .window-content {
    background-color: var(--elevated-background);
}

.ty-preferences .nav-group-item.active {
    color: var(--text-color);
    background: #999;
}

.menu-item-container a.menu-style-btn {
    background-color: var(--elevated-background);
    background-image: linear-gradient( 180deg, hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
}

.cm-keyword {
    color: var(--color-cm-keyword)!important;
    font-weight: 700!important;
}

.cm-variable {
    color: var(--color-cm-v)!important;
}

.cm-tag {
    color: var(--color-cm-keyword)!important;
    font-weight: 700!important;
}

.cm-variable-3, .cm-variable-2 {
    color: var(--color-cm-v3)!important;
    font-weight: 700!important;
}

.cm-def {
    color: var(--color-cm-attr)!important;
}

.cm-attribute {
    color: var(--color-cm-attr)!important
}

.cm-comment, .md-comment, .md-meta {
    color: var(--color-cm-comment)!important;
}

.cm-string {
    color: var(--color-cm-string)!important;
    font-variant-ligatures: common-ligatures!important;
}

.cm-link {
    color: var(--color-cm-link)!important;
}

.cm-type {
    color: var(--color-cm-v3);
}

.cm-property {
    color: var(--color-cm-v3)!important;
}

.cm-tag:not(.cm-bracket) {
    font-weight: 700;
}

.cm-operator {
    color: var(--color-cm-operator)!important;
}

.cm-number {
    color: var(--color-cm-number)!important;
}

.cm-meta {
    color: var(--color-cm-meta)!important;
    font-weight: 700!important;
}

.cm-builtin {
    color: var(--color-cm-builtin)!important;
}

li.task-list-item {
    list-style-type: none
}

li.task-list-item>input[type=checkbox], #write input[type=checkbox] {
    list-style: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-image: var(--checkbox-unchecked);
    padding: 0;
    margin-top: 1px;
    margin-left: -32px;
}

li.task-list-item>input[type=checkbox][checked=checked], li.task-list-item>input[type=checkbox][checked], #write input[type=checkbox][checked=checked], #write input[type=checkbox][checked] {
    background-image: var(--checkbox-filled);
}

a {
    color: var(--text-link);
}

span.ty-icon.ty-delete-button::before {
    background-image: var(--dismiss);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

i.fa.fa-folder-o::before {
    background-image: var(--folder);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

i.file-node-icon.fa.fa-folder::before {
    background-image: var(--folder);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

i.file-node-icon.fa.fa-file-text-o::before {
    background-image: var(--document);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

i.fa.fa-caret-down::before {
    background-image: var(--chevron-down);
    vertical-align: middle;
    content: " ";
    width: 12px;
    height: 12px;
    display: inline-block;
}

i.fa.fa-caret-right::before {
    background-image: var(--chevron-right);
    vertical-align: middle;
    content: " ";
    width: 12px;
    height: 12px;
    display: inline-block;
}

.file-node-open-state {
    width: 16px;
    text-align: center;
}

span.ty-icon.ty-file-tree::before {
    background-image: var(--tree);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

span.ty-icon.ty-left-arrow::before {
    background-image: var(--arrowleft);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

span.ty-icon.ty-list::before {
    background-image: var(--navigation);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

span.ion-ios7-search-strong::before {
    background-image: var(--search);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

.sidebar-tab-btn, span.ion-ios7-search-strong, .sidebar-footer-item .footer-btn {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    vertical-align: middle!important;
}

span.ty-icon.ty-add::before {
    background-image: var(--add);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: 2px;
}

span.ty-icon.ty-dots-v::before {
    background-image: var(--dots);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: 2px;
}

span.ty-icon.ty-three-cells::before {
    background-image: var(--cells);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: 2px;
}

mark {
    border-radius: 4px;
    color: var(--mark-text);
    font-weight: inherit;
    background-color: var(--mark-bg);
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px 4px 2px 4px;
    border-bottom: var(--mark-border);
}

del {
    border-radius: 4px;
    color: var(--text-color);
    font-weight: inherit;
    background-color: #88888850;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px 4px 2px 4px;
    text-decoration-color: var(--text-color);
    opacity: .3;
}

.sidebar-footer-item {
    height: 100%;
    vertical-align: middle;
    justify-content: center;
}

.file-node-background {
    height: 32px;
}

.file-library-node.file-tree-node.active>.file-node-content {
    color: white;
}

.file-library-node.file-tree-node.active>.file-node-content>i {
    filter: var(--icon-filer);
}

.file-library-node.file-tree-node.active>.file-node-background {
    background-color: var(--accent-color);
    border: none;
}

.cm-header, .cm-header-1 {
    color: var(--title-font)!important;
}

.cm-atom {
    color: var(--color-cm-builtin)!important;
}

/** Css below might be platform specified **/

#filesearch-case-option-btn>svg, #searchpanel-case-option-btn>svg {
    display: none;
}

#filesearch-case-option-btn::before, #searchpanel-case-option-btn::before {
    background-image: var(--case);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

#filesearch-word-option-btn>svg, #searchpanel-word-option-btn>svg {
    display: none;
}

#filesearch-word-option-btn::before, #searchpanel-word-option-btn::before {
    background-image: var(--match);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

.mac-seamless-mode #md-searchpanel, #md-searchpanel {
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
    border-bottom: 1px solid var(--border);
    max-height: 72px;
}

.mac-seamless-mode #md-searchpanel input, #md-searchpanel input {
    height: auto;
}

.mac-seamless-mode #md-searchpanel.searchpanel-replace-mode, #md-searchpanel.searchpanel-replace-mode {
    max-height: 108px;
}

.ion-chevron-up::before {
    background-image: var(--chevron-up);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

.ion-chevron-down::before {
    background-image: var(--chevron-next);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

.ion-close-round::before {
    background-image: var(--dismiss);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
}

table.md-table {
    border: none!important;
    box-sizing: border-box;
    /* border-radius: 4px; */
    overflow: hidden;
}

table {
    border-collapse: separate;
}

tbody>tr>td:not(:first-child) {
    box-sizing: border-box;
    border: none;
    border-right: var(--table-border);
    border-bottom: var(--table-border);
}

tbody>tr>td:first-child {
    box-sizing: border-box;
    border: none;
    border-bottom: var(--table-border);
    border-left: var(--table-border);
    border-right: var(--table-border);
}

tr>th:not(:first-child) {
    box-sizing: border-box;
    border: none;
    border-top: var(--table-border);
    border-right: var(--table-border);
    border-bottom: var(--table-border);
}

tr>th:first-child {
    box-sizing: border-box;
    border: var(--table-border);
}

tr:first-child>th:first-child {
    border-top-left-radius: 4px;
}

tr:first-child>th:last-child {
    border-top-right-radius: 4px;
}

tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: 4px;
}

tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: 4px;
}

table tr:nth-child(2n), table thead>tr {
    background-color: var(--elevated-background);
}

table tbody tr:nth-child(2n+1) {
    background-color: var(--bg-color);
}

thead:last-child>tr:last-child>th:first-child {
    border-bottom-left-radius: 4px;
}

thead:last-child>tr:last-child>th:last-child {
    border-bottom-right-radius: 4px;
}

table {
    font-feature-settings: "tnum";
}

blockquote>h1:first-child, blockquote>h2:first-child, blockquote>h3:first-child, blockquote>h4:first-child, blockquote>h5:first-child, blockquote>h6:first-child {
    font: var(--title-font);
    font-weight: 700;
    font-size: inherit!important;
    margin: -12px -16px -8px -16px;
    padding: 12px 16px 8px 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    letter-spacing: auto!important;
}

blockquote>h1:first-child {
    color: var(--bookmark-color);
}

blockquote>h1:first-child::before {
    background-image: var(--bookmark-filled);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
}

blockquote>h2:first-child {
    color: var(--star-color);
}

blockquote>h2:first-child::before {
    background-image: var(--star-filled);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
}

blockquote>h3:first-child {
    color: var(--lightbulb-color);
}

blockquote>h3:first-child::before {
    background-image: var(--light-bulb-filled);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
}

blockquote>h4:first-child {
    color: var(--note-color);
}

blockquote>h4:first-child::before {
    background-image: var(--note-filled);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
}

blockquote>h5:first-child {
    color: var(--alert-color);
}

blockquote>h5:first-child::before {
    background-image: var(--warn-filled);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
}

blockquote>h6:first-child {
    color: var(--question-color);
}

blockquote>h6:first-child::before {
    background-image: var(--chat-help-filled);
    vertical-align: middle;
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
}
